body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.all-cards {
  display: flex;
  flex-wrap: wrap;
  /* row-gap: 20px;
  column-gap: 20px; */
  align-items: center;
  justify-content: center;
}

.main-card {
  margin: 10px;
  display: flex;
  flex-direction: column;
  min-height: 200px;
  min-width: 190px;
  row-gap: 2px;
}

.p-image {
  width: 100%;
  position: relative;
}
.p-image img {
  width: 100%;
  height: auto;
  max-height: 350px;
  max-width: 300px;
}

.p-price {
  display: flex;
}

.p-original {
  text-decoration: line-through;
  font-size: 14px;
  color: gray;
}

.p-selling {
  color: #6d84ff;
  font-weight: 600;
  font-size: 15px;
}

.p-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 500;
}

.all-cards > div {
  width: 20%;
}

.p-rating {
  display: flex;
  column-gap: 5px;
  font-size: 13px;
  align-items: center;
  width: fit-content;
  padding: 1px;
  color: gray;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}
.abs-heart {
  position: absolute;
  right: 12px;
  top: 8px;
}
.abs-heart i {
  color: #6d84ff;
  width: 20px;
}

.navbar {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-inp {
  width: 80%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid rgb(188, 188, 188);
  width: fit-content;
  border-radius: 15px;
}

.search-inp input {
  height: 40px;
  width: 500px;
  border-radius: 15px;
  border: 0px;
  padding-left: 10px;
  font-size: 16px;
}

.search-inp input:focus {
  outline: none;
  box-shadow: none;
}

.search-inp button {
  margin: 10px;
  height: 95%;
  width: 35px;
  background-color: white;
  border: 0px;
  color: #000000;
  border-radius: 15px;
  cursor: pointer;
}

.search-inp button img {
  height: 20px;
}

.main-page {
  display: flex;
  column-gap: 0px;
}

.filter-main {
  width: 25%;
  /* background-color: #6d84ff; */
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.filter-main > div {
  width: 80%;
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  row-gap: 10px;
}

.filter-heading {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-between;
}

.all-cards {
  width: 75%;
}
.filter-main img {
  height: 15px;
}

.filter-title {
  font-size: 35px;
  text-align: center;
  margin-bottom: 20px;
}

.tiles {
  width: 80%;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.tiles > div {
  display: flex;
  column-gap: 20px;
}

.price-inp > div {
  display: flex;
  row-gap: 20px;
}
.price-inp {
  display: flex;
  row-gap: 10px;
}

.price-inp > div input[type="text"] {
  width: 50%;
  height: 30px;
  border-radius: 6px;
  border: 1px solid gray;
}

.price-inp > div input:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid #6d84ff;
}
